<html>  
    <body>     
     <label for='name'>Enter Location:</label><br>
     <form action='/weather/location'>
    <input type='text' name='name' placeholder='Name'><br>
     <input type='submit'>
   </form> 
    </body>
</html>

