<html>
    <body>
        <form action="/weather/location" method="get">
            <label for="name">Location:</label>
            <input type="text" name="name" placeholder="Name">
            <input type="submit" value="find weather">
        </form>
    </body>
</html>