<html>
    <body>
        <form action="/weather/location" method="get">
            <label for="name">Location:</label>
            <input type="text" name="name" placeholder="Name"><br>
            <p><input type="submit" value="Get weather"></p>
        </form> 
    </body>
</html>
